h1{
    text-align: center;

}

.fonction_principale{
    display: flex;
    justify-content: center;
    gap: 15px;
}

table{
    width: 80%;
    border-collapse: collapse;
    margin: 2% auto;
}

th, td {
    text-align: center;
}


.tableau{
    border: 2px solid black;
}